EMAIL_USER=xxxxx@gmail.com
EMAIL_PASS=xxxxxxxx
SMTP_HOST=xxxx@gmil.com
SMTP_PORT=465
EMAIL_TO_ADDRESS=xxxxx@gmail.com
ALLOWED_ORIGINS=https://xxxxxxxx.com,https://www.xxxxx.com;http://localhost:3000
PORT=3000